name: GitHub - Activity - Readme

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: https://github.com/Apple2424
      - uses: https://github.com/Apple2424
        env:
          GITHUB_TOKEN: ${{ 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 }}
